<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MultiFormMapper">
    <select id="selectNotifyVoByEmployeeid" parameterType="java.lang.String" resultType="TbNotifyVo">
        select tb_notify.*,tb_employeenotify.`Status`,tb_employeenotify.EmployeeId from tb_notify,tb_employeenotify where tb_notify.NotifyId=tb_employeenotify.NotifyId and EmployeeId=#{VALUE } ORDER BY tb_notify.NotifyTime desc
    </select>
 </mapper>